USE [p2p]
GO
/****** Object:  Table [dbo].[Offer]    Script Date: 02/12/2016 06:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Offer](
	[ID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[OfferDescription] [varchar](500) NOT NULL,
	[ImagePath] [varchar](500) NULL,
	[StoreId] [int] NULL,
	[OfferCode] [varchar](500) NULL,
 CONSTRAINT [PK_Offer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NotificationStatus]    Script Date: 02/12/2016 06:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationStatus](
	[DeviceID] [nvarchar](500) NOT NULL,
	[NotifiedDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 02/12/2016 06:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Device](
	[id] [varchar](500) NOT NULL,
	[EmailId] [varchar](500) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[GcmToken] [varchar](500) NOT NULL,
	[Clubcard] [varchar](18) NULL,
	[Mobile] [varchar](15) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 02/12/2016 06:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Coupon](
	[Clubcard] [varchar](18) NOT NULL,
	[CouponCode] [varchar](500) NOT NULL,
	[Name] [varchar](500) NULL,
	[CouponDescription] [varchar](500) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CouponAvailed] [bit] NOT NULL,
	[ImagePath] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
